<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo usuario</title>
    <link rel="stylesheet" href="css/nuevo_usuario.css">
</head>

<body>
    <div class="container">
        <h1>Andrea</h1>
        <h3>Mensajes de Andrea</h3>
        <div class="enviar">
            <input type="text" placeholder="">
            <button>Enviar</button>
        </div>
        <div class="mensaje">
            <a href="#">Mensaje de Katya, hace 5 horas</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quisquam quia inventore cum
                similique quos recusandae facere eos ipsa odio. Nihil consectetur expedita fugiat sed ducimus ab
                dolorum, reiciendis dolorem.</p>
        </div>
        <div class="comentarios">
            <h2>Comentarios</h2>
            <a href="#">Comentario de Patricia, hace 1 hora</a>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae facere corporis non eius officia at
                voluptatum corrupti nemo inventore voluptatibus dolor natus aliquid ducimus doloribus eveniet,
                dignissimos necessitatibus nostrum molestias?</p>
        </div>
        <div class="enviar">
            <input type="text" placeholder=" Escribe un comentario...">
            <button>Enviar</button>
        </div>
    </div>
</body>

</html>